{% extends "base.html" %}

{% block title %}Create New Use Case{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-xl font-semibold text-gray-800 my-5">Create New Use Case</h1>
    <!-- Form content from create_use_case.html goes here -->
    <form action="/use-case/new" method="POST" class="bg-white p-5 rounded shadow">
        <div class="mb-4">
            <label for="type" class="block text-sm font-medium text-gray-700">Type:</label>
            <input type="text" id="type" name="type" required class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div class="mb-4">
            <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
            <textarea id="description" name="description" required class="mt-1 p-2 w-full border rounded-md"></textarea>
        </div>
        <div class="mb-4">
            <label for="lesson_id" class="block text-sm font-medium text-gray-700">Lesson:</label>
            <select id="lesson_id" name="lesson_id" required class="mt-1 p-2 w-full border rounded-md">
                {% for lesson in lessons %}
                <option value="{{ lesson.id }}">{{ lesson.title }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Difficulty Level Dropdown -->
        <div class="mb-4">
            <label for="difficulty" class="block text-sm font-medium text-gray-700">Difficulty Level:</label>
            <select id="difficulty" name="difficulty" required class="mt-1 p-2 w-full border rounded-md">
                {% for level in difficulty_levels %}
                <option value="{{ level.id }}">{{ level.level }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="question" class="block text-sm font-medium text-gray-700">Question:</label>
            <input type="text" id="question" name="question" required class="mt-1 p-2 w-full border rounded-md">
        </div>
        <!-- Final Decision Input -->
        <div class="mb-4">
            <label for="final_decision" class="block text-sm font-medium text-gray-700">Final Decision:</label>
            <input type="text" id="final_decision" name="final_decision" required class="mt-1 p-2 w-full border rounded-md">
        </div>
        {% for i in range(1, 5) %}
        <div class="mb-4 flex items-center">
            <label for="option_{{i}}" class="block text-sm font-medium text-gray-700">Option {{i}}:</label>
            <input type="text" id="option_{{i}}" name="option_{{i}}" required class="ml-2 p-2 border rounded-md">
            <input type="radio" name="correct_option" value="{{i}}" class="ml-4"> Correct
        </div>
        {% endfor %}
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Submit</button>
    </form>
</div>
{% endblock %}
